
h1 {
    color: #03fce3;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.col {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}
section {
    border: 3px solid #00f8e3;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #cecaca;
}
section h2 {
	background-color: #404242;
	color: rgb(0, 255, 247);
	padding: 5px;
}
ul {
	list-style-type: disc;
	margin-left: 20px;
}
ol {
	list-style-type: decimal;
	margin-left: 20px;
}
li {
    font-size: 18px;
    color: rgb(32, 78, 134);
	font-style: oblique;
} 
img {
	padding: 10px;
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
body {
    background-color: #000000;
}
footer {
	color: rgb(0, 255, 247);

}
